.categorySkeleton, .bannerSkeleton, .featuresSkeleton{
    cursor: progress;
    /* background-color: #dedede; */
}


.categorySkeleton:empty, .bannerSkeleton, .featuresSkeleton:empty {
    animation: loading 1.5s infinite;
    cursor: progress; 
    background: 
      linear-gradient(0.25turn, transparent, #fff, transparent),
      linear-gradient(#dedede, #dedede),
      radial-gradient(38px circle at 19px 19px, #dedede 50%, transparent 51%),
      linear-gradient(#dedede, #dedede);  
    background-repeat: no-repeat;
    /* background-size: 815px 250px, 315px 180px, 100px 100px, 225px 30px;  */
    background-position: -315px 0, 0 0, 0px 190px, 50px 195px; 
    animation: loading 1.5s infinite;
  }

  @keyframes loading {  
    to {
      /* background-position: 315px 0, 0 0, 0 190px, 50px 195px; */
      background-position: 815px 0, 0 0, 0 190px, 50px 195px;

    }
  }